@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h3 class="display-4">Having Trouble Keeping Track of Your Job Applications?</h3>
    <br />
        <h5>MSSA Job Tracker Makes Your Job Application Process Easier!</h5>
    <br />
    <img src="https://specials-images.forbesimg.com/imageserve/5e89066c01879f000703d7e0/960x0.jpg?fit=scale"/>
</div>
